## =======================
## Visual Studio & .NET Core
## =======================
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.pdb
*.dll
*.exe

# Файлы настроек, которые могут содержать секреты
appsettings.Development.json
appsettings.Local.json

# Логи
*.log

## =======================
## Python & Neural Network
## =======================
# Временные файлы компиляции Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения (куда ставятся библиотеки)
venv/
env/
.venv/
.env

# Jupyter Notebooks (если будешь использовать)
.ipynb_checkpoints

## =======================
## Данные проекта (Project Specific)
## =======================

# 1. Твой датасет (20к картинок не должны лежать в гите)
NeuralNetwork/dataset/

# 2. Тяжелые файлы весов модели и база эмбеддингов
# (Лучше не грузить их в репозиторий, так как они весят >100Мб, 
# либо используй Git LFS, но обычно их добавляют в игнор)
*.pth
*.npy
class_mapping.json

# Исключаем папку, если вдруг создастся папка для чекпоинтов обучения
checkpoints/

# Если скачиваешь CSV файл скриптом
data.csv